


.idea/*

*.svn-base

*.class

gen/com/techventus/locations/BuildConfig.java

gen/com/techventus/locations/GVLServiceInterface.java

gen/com/techventus/locations/Manifest.java

.svn/wc.db

.svn/format

.svn/entries

.settings/org.eclipse.jdt.core.prefs

bin/GVLocations5.apk

bin/GVLocations5.unaligned.apk
