<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.techventus.locations"
      android:versionCode="18"
      android:versionName="1.0">
      <supports-screens  android:largeScreens="true"   android:normalScreens="true"  
          android:smallScreens="true" android:anyDensity="true" android:xlargeScreens="true" 
          android:resizeable="true"/>
    
	<application android:icon="@drawable/globesextanticon" android:label="@string/app_name" android:debuggable="false">
      <activity android:name=".MainMenu"
                  android:label="@string/mainmenutitle" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   		<activity android:name=".LocationsMenu"
                  android:label="@string/locationsmenu_name"
                  android:screenOrientation="portrait"
                  android:configChanges="keyboardHidden"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".LocationMap"
                  android:label="@string/map_name"
                  android:theme="@android:style/Theme.Holo.Light"/>

		<activity android:name=".RowTest"
                  android:label="@string/rowtable"
                  android:theme="@android:style/Theme.Holo.Light"/>

        <activity android:name=".NewLocation"
                  android:label="@string/namenewlocation"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".SettingsMenu"
                  android:label="@string/settingsmenu"
                  android:theme="@android:style/Theme.Holo.Light">
        </activity>
        <activity android:name=".FrequencyMenu"
                  android:label="@string/frequencymenu"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".DeleteLocation"
                  android:label="@string/deletelocation"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".LoginCredentials"
        			android:label="@string/logincredentials"
                    android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".LocationDecisionMenu"
                  android:label="@string/locationdecision"
                  android:theme="@android:style/Theme.Holo.Light"/>
                <activity android:name=".BlankIntent"
                  android:label=""
                  android:theme="@android:style/Theme.Holo.Light"/>
       	<activity android:name=".PhonePreference"
                  android:label="@string/phoneenablepreference"
                  android:theme="@android:style/Theme.Holo.Light"/>
               	<activity android:name=".NotificationPreferences"
                  android:label="@string/notification_settings"/>
        <activity android:name=".ResetConfirm"
                  android:label="@string/resetconfirm"
                  android:theme="@android:style/Theme.Holo.Light"/>
               <activity android:name=".LocationFrequencyToggle"
                  android:label="@string/location_update_frequency"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".GoogleFrequencyToggle"
                  android:label="@string/google_frequency_settings"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".QuickRingPreferences"
                  android:label="@string/quick_ring"
                  android:theme="@android:style/Theme.Holo.Light"/>
       <activity android:name=".ConfirmDelete"
                  android:label="@string/resetconfirm"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".Dialer"
                  android:label="@string/dialer"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".PowerMode"
                  android:label="@string/powermode"
                  android:theme="@android:style/Theme.Holo.Light"/>

 		<service android:enabled="true" android:name=".BackgroundService" />
        <service android:enabled="true" android:name=".BackgroundService2" />

        <service
                android:name="com.techventus.locations.ReceiveTransitionsIntentService"
                android:label="@string/app_name"
                android:exported="false">
        </service>

        <receiver android:name="LocationsReceiver"
        android:enabled="true"
        android:exported="false"
        android:label="LocationServiceReceiver">
		<intent-filter>
		<action
			android:name="android.intent.action.BOOT_COMPLETED" />
			<category android:name="android.intent.category.HOME" />
		</intent-filter>
		</receiver>

	<uses-library android:name="com.google.android.maps" required="true"></uses-library>

	<meta-data android:value="a14b77659e5ca68" android:name="ADMOB_PUBLISHER_ID" />

	
	 <!--<activity android:name="com.google.ads.AdActivity"-->
              <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>-->

        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

    </application>
    
	    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
<uses-permission 
android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> 
   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
   
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

	<uses-sdk android:minSdkVersion="7"></uses-sdk>
</manifest> 